/*Layout*/
body{
	font-family: 'Nunito', sans-serif;
	letter-spacing: .06em;
	height: 1024px;
}

.container{

	width:1024px;
	background-color: white;
	height: 100%;

}

.wrapper{
	height: 100%;
}
.bg{
background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    height: 100%;
}

#logo{
	margin-top:50px
}

.bubbles img{
	display: block;
	margin: auto;
}

.row{
	margin-bottom:30px;
}

.bottom{
	bottom: 0;
	position: absolute;
}
/*Helpers*/
.center{
	text-align: center;
}


/*Form*/
#email{
	margin-top: 30px;
}

#email #emailinput{
	height: 50px;
	text-align: center;
	font-size: 1.2em;
}
#email button{
	display: block;
	margin: auto;
	background: black;
	min-width: 153px
	
}