/* CSS Document */
body{
font-family:arial;
font-size:16px;
margin: 0;
}
#page{
	max-height:1024px;
	overflow:hidden;
	width:768px;
	margin:auto;
}

.row.top{
}

.row.middle{
margin: 70px 0 0 0;
text-align: center;
height: 200px;
}
.row.middle h2{
color:#666;
}

.row.bottom{


}
input{
height: 50px;
font-size:1.5em;
text-align: center;
}

.details{
font-size: .6em;
color: #699;
}
.copy{
font-size: .5em;
color:#999;	
}

input::-webkit-input-placeholder{

}

.warning{
	color:#ee2b39;
}

#submit{
	margin-top:25px;
padding: 0 10px;
height: 50px;	
background: #c1272d;
color:white;
text-transform:uppercase;
font-size:1.3em;
border-style:none;
}

#submit:active{
background:#999;
}