/*Layout*/

html, body{
	height:100%;
	min-height: 100%;
}
body{
	font-family: 'Nunito', sans-serif;
	letter-spacing: .06em;

}

.container-fluid{

padding: 0;
	background-color: white;
	height: 100%;

}

.wrapper{
	height: 100%;
	    max-width: 1024px;
	    margin: auto;
}

.bg{
background: url('../images/bg.jpg')  no-repeat center bottom, linear-gradient(white, #f4f4f4);
    height: 100%;
position: relative;
    background-size:100%;
    max-width: 1024px;
    min-height: 1024px;
    padding: 0 15px;
    margin:auto;
}

#logo{
	margin-top:50px
}

.bubbles img{
	display: block;
	margin: auto;
}

.row{
	margin-bottom:30px;
}

.bottom{
position: absolute;
bottom: 0;
width:100%;
}

.copy{
	text-align: center;
}
.message{
	text-align: center;
	font-size: 1.4em;
	background: white;
	padding: 5px 0;
	display: none;
}

/*Helpers*/
.center{
	text-align: center;
}


/*Form*/
#email{
	margin-top: 30px;
}

#email #emailinput{
	height: 50px;
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 30px;
}
#email button{
	display: block;
	margin: 15px auto;
	background: black;
	min-width: 200px;
	height: 50px;
	border-color: white;
	
}